<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- //<meta name="description" content="{{ site.description }}"> -->

  <title>{{ site.title }}</title>

  <!-- Primary Meta Tags -->
  <meta name="title" content="Joo's IT">
  <meta name="description" content="Data Science">

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://cheonjoosung.github.io/">
  <meta property="og:title" content="Joo's IT">
  <meta property="og:description" content="IT, Development, Android etc">
  <meta property="og:image" content="https://github.com/cheonjoosung/cheonjoosung.github.io/blob/master/profileimage.jpg?raw=true">

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="cheonjoosung.github.io">
  <meta property="twitter:url" content="https://cheonjoosung.github.io/">
  <meta name="twitter:title" content="Joo's IT">
  <meta name="twitter:description" content="IT, Development, Android etc">
  <meta name="twitter:image" content="https://github.com/cheonjoosung/cheonjoosung.github.io/blob/master/profileimage.jpg?raw=true">

  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon.ico' | relative_url }}">

  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

  <!-- Bootstrap CSS CDN -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- Animate CSS CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.css" type="text/css"/>
  
  <!-- Custom CSS -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}" type="text/css">

  <!-- google adsense -->
  <script data-ad-client="ca-pub-3551444505310572" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

  <!-- google search verification -->
  <meta name="google-site-verification" content="m7sNSzvfsZ7iYZOcrQjl_HjuV260nOFqI0lt5hPNvHY" />
</head>
