<div class="area_related">
    {% for post in site.categories[page.tag] %}
     {% if post.url == page.url %}
      {% assign post_index0 = forloop.index0 %}
      {% assign post_index1 = forloop.index %}
      {% endif %}
    {% endfor %}

    {% for post in site.categories[page.tag] %}
     {% if post_index0 == forloop.index %}
      {% assign next_post = post %}
     {% endif %}
     {% if post_index1 == forloop.index0 %}
      {% assign prev_post = post %}
     {% endif %}
    {% endfor %}

    <!-- {% if prev_post %}
    <div class="article__previous">
      <a href="{{ prev_post.url }}">{{ prev_post.title }} </a>
    </div>
  {% endif %}

  {% if next_post %}
    <div class="article__next">
      <a href="{{ next_post.url }}">{{ next_post.title }}</a>
    </div>
  {% endif %} -->

    <ul class="list_related">

        <li class="thumb_type">
          {% if prev_post %}
            <a href="{{ prev_post.url }}" class="link_related">

                <span class="thumb_related">
  														<img src="{{ prev_post.image }}" class="img_related" alt="">
  													</span>

                <span class="txt_related2">< PREV POST</span>
                <span class="txt_related">{{ prev_post.title }}</span>
                <span class="date_related">{{ prev_post.date | date: '%Y-%m-%d' }} </span>
                <span class="frame_related"></span>
            </a>
            {% endif %}
        </li>

        <li class="thumb_type">
          {% if next_post %}
            <a href="{{ next_post.url }}" class="link_related">

                <span class="thumb_related">
  														<img src="{{ next_post.image}}" class="img_related" alt="">
  													</span>
                <span class="txt_related2">NEXT POST ></span>
                <span class="txt_related">{{ next_post.title }}</span>
                <span class="date_related">{{ next_post.date | date: '%Y-%m-%d' }}</span>
                <span class="frame_related"></span>
            </a>
            {% endif %}
        </li>

    </ul>
</div>
